//FORMULARIO
.form {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    width: 600px;
    height: 500px;
    margin: 3.8% 35% 5%;
    .form__component {
      width: 400px;
      height: 80px;
      margin: 10px 0px 10px 100px;
    }
    .btn {
      width: 400px;
      height: 100px;
      background-color: #FFDA9E;
      
      border: none;
      margin: 10px 0px 10px 100px;
    }
    .btn-borrar{
      @extend .btn;
    }
    .form__component--textarea {
      width: 400px;
      margin: 10px 0px 10px 100px;
      resize: none;
    }
    .contact__header {
      margin-bottom: 10%;
      color: #FFDA9E;
    }
  }