//MEDIA QUERIES
@media (max-width: 991px) {
    .navbar__links {
      padding-top: 10px;
      .nav-link {
        padding-top: 20px;
      }
    }
    .logo {
      width: 80px;
      padding-left: 20px;
    }
    .form {
      width: 100vw;
      margin-left: 0;
      margin-bottom: 60vh;
      .form__component {
        width: 90vw;
        margin-left: 5%;
      }
      .form__component--textarea {
        width: 90vw;
  
        margin-left: 5%;
      }
      .btn {
        width: 90vw;
  
        margin-left: 5%;
      }
    }
    .clases {
      display: flex;
      flex-direction: column;
      .clase {
        margin-left: 8%;
        width: 90vw;
      }
    }
    .main-container{
      display: flex;
      flex-direction: column;
      
    }
  }
  @media (min-width: 991px){
    .img-responsive{
      width: 600px;
      margin-top: 150px;
      margin-left: 20px;
    }
    .img-responsive_2{
      width: 600px;
      margin-right: 20px;
    }
    .text-tittle{
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 150px;
      color: rgb(204, 196, 196);
      font-weight: 700;
    }
  }